/*
 * Brikken: AS3933 LF wake-up receiver over SPI
 *
 * Som for, men med DAT lagt til pa P1.12.
 *
 * Konsollen ligger pa uart30 (COM4). uart20 ma vaere av, ellers
 * stjeler den P1.04-P1.07 fra SPI.
 *
 * AS3933 har AKTIV-HOY chip select - GPIO_ACTIVE_HIGH pa cs-gpios,
 * og SPI_CS_ACTIVE_HIGH i koden.
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,console = &uart30;
		zephyr,shell-uart = &uart30;
	};
};

/* Frigjor P1.04-P1.07 */
&uart20 {
	status = "disabled";
};

&uart30 {
	status = "okay";
	current-speed = <115200>;
};

&pinctrl {
	spi21_default: spi21_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
				<NRF_PSEL(SPIM_MOSI, 1, 5)>,
				<NRF_PSEL(SPIM_MISO, 1, 6)>;
		};
	};

	spi21_sleep: spi21_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
				<NRF_PSEL(SPIM_MOSI, 1, 5)>,
				<NRF_PSEL(SPIM_MISO, 1, 6)>;
			low-power-enable;
		};
	};
};

&spi21 {
	status = "okay";
	pinctrl-0 = <&spi21_default>;
	pinctrl-1 = <&spi21_sleep>;
	pinctrl-names = "default", "sleep";

	/* AKTIV HOY - ikke GPIO_ACTIVE_LOW */
	cs-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;

	as3933: as3933@0 {
		compatible = "vnd,spi-device";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

/ {
	as3933_gpio {
		compatible = "gpio-keys";

		as3933_wake: wake {
			gpios = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "AS3933 WAKE";
		};

		/* NYTT: DAT, AS3933 pin 15 -> P1.12.
		 * Ingen pull. Vil vi se om pinnen drives i det hele tatt,
		 * ma vi ikke legge en pull-motstand som maskerer svaret.
		 */
		as3933_dat: dat {
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			label = "AS3933 DAT";
		};
	};
};
