/*
 * LF-sender: 125 kHz ut pa P1.11 -> TC4427A pin 2 (IN A)
 *
 * P1.11 og P1.12 er de eneste helt ledige P1-pinnene pa nRF54L15 DK:
 *   P1.00/01  32,768 kHz krystall (ikke fort ut pa header)
 *   P1.02/03  NFC
 *   P1.04-07  UART1
 *   P1.08/09  knapp 2 og 1
 *   P1.10     LED 1
 *   P1.13     knapp 0
 *   P1.14     LED 3
 *
 * Bytt pwm20 til pwm21/pwm22 hvis byggingen feiler pa instansnavnet
 * (varierer mellom NCS-versjoner).
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

&pinctrl {
	pwm20_default: pwm20_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>;
		};
	};

	pwm20_sleep: pwm20_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>;
			low-power-enable;
		};
	};
};

&pwm20 {
	status = "okay";
	pinctrl-0 = <&pwm20_default>;
	pinctrl-1 = <&pwm20_sleep>;
	pinctrl-names = "default", "sleep";
};

/ {
	lf_tx {
		compatible = "pwm-leds";

		pwm_lf: pwm_lf {
			pwms = <&pwm20 0 PWM_USEC(8) PWM_POLARITY_NORMAL>;
		};
	};
};
